
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "Poppins-Bold";
    public: url("/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  } */